@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --header-height: 70px;
}

* {
    font-family: SolaimanLipi, Amiri, 'Open Sans', sans-serif;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
}

.fa-icon {
    height: 1em;
    fill: currentColor;
    bottom: 0.125em;
    position: relative;
}